@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import "../../node_modules/bootstrap/scss/functions";
@import "../assets/helpers/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import '../assets/helpers/utilities';
@import "../assets/helpers/nav";
@import '../assets/helpers/navbar';
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/bootstrap";
h1,h2,h3,h4,h5,h6{
  margin-bottom: 0;
}
.sidebar {
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 99;
}

/* sidebar for small screens */
@media screen and (max-width: 767px) {
  .sidebar {
    width: 80% !important;
    max-width: 18rem;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }

  .sidebar.active {
    transform: translateX(0);
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination{
  position: absolute;
  bottom: 0;
  left: 50% !important;
  width: 20% !important;
  transform: translateX(-50%) !important;
  text-align: center;
  z-index: 3;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    color: $primary !important;
}
.swiper-pagination-bullet{
  background-color: $primary !important;
}
.timeline {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    width: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #C1C1C1;
  }
   &::before {
    content: "";
    position: absolute;
    top: 9px;
    width: 50%;
    left: 50;
    right: 0;
    height: 2px;
    background-color: #C1C1C1;
  }
  &-pointer {
    position: relative;
    color: #c1c1c1;
    p {
      padding-top: 24px;
      margin-bottom: 0;
      line-height: 1.5;
    }
    &::before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      border: 1px solid #fff;
      border-radius: 50%;
      background-color: #C1C1C1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      z-index: 1;
    }
    &.step-1::before {
      content: '1';
    }
    &.step-2::before {
      content: '2';
    }
    &.step-3::before {
      content: '3';
    }
    &.active {
      color: $primary;
      &::before {
        color: #FFFFFF;
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}